</div>

<!-- Footer -->
<footer id="footer">
      <ul class="icons">

            {% if site.twitter_url %}
            <li><a href="{{ site.twitter_url }}" target="_blank"><i class="icon fa-brands fa-twitter"><span
                                    class="label">Twitter</span></i></a></li>
            {% endif %}
            {% if site.bluesky_url %}
            <li><a href="{{ site.bluesky_url }}" target="_blank"> <i class="fa-brands fa-bluesky"><span
                                    class="label">BlueSky</span></i></a></li>
            {% endif %}
            {% if site.facebook_url %}
            <li><a href="{{ site.facebook_url }}" target="_blank"> <i class="fa-brands fa-facebook"><span
                                    class="label">Facebook</span></i></a></li>
            {% endif %}
            {% if site.instagram_url %}
            <li><a href="{{ site.instagram_url }}" target="_blank"> <i class="fa-brands fa-instagram"><span
                                    class="label">Instagram</span></i></a></li>
            {% endif %}
            {% if site.pinterest_url %}
            <li><a href="{{ site.pinterest_url }}" target="_blank"> <i class="fa-brands fa-pinterest"><span
                                    class="label">Pinterest</span></i></a></li>
            {% endif %}
            {% if site.gitlab_url %}
            <li><a href="{{ site.gitlab_url }}" target="_blank"> <i class="fa-brands fa-gitlab"><span
                                    class="label">GitLab</span></i></a></li>
            {% endif %}
            {% if site.github_url %}
            <li><a href="{{ site.github_url }}" target="_blank"> <i class="fa-brands fa-github"><span
                                    class="label">GitHub</span></i></a></li>
            {% endif %}
            {% if site.slack_url %}
            <li><a href="{{ site.slack_url }}" target="_blank"> <i class="fa-brands fa-slack"><span
                                    class="label">Slack</span></i></a></li>
            {% endif %}
            {% if site.linkedin_url %}
            <li><a href="{{ site.linkedin_url }}" target="_blank"> <i class="fa-brands fa-linkedin"><span
                                    class="label">LinkedIn</span></i></a></li>
            {% endif %}

      </ul>
      <p class="copyright">&copy; {{ site.title }}. <a href="https://github.com/jvfe/jvfe.github.io"
                  target="_blank">Source code</a>.
            Design: <a href="https://html5up.net">HTML5 UP</a>.
      </p>
</footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/main.js' | absolute_url }}"></script>